rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null
        && request.auth.uid == userId
        && request.resource.data.points == 0
        && request.resource.data.collectionCount is int
        && request.resource.data.collectionCount >= 0
        && request.resource.data.collectionCount <= 23;
      allow update: if request.auth != null
        && request.auth.uid == userId
        && (
          (
            request.resource.data.points is int
            && request.resource.data.points >= 0
            && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['points', 'updatedAt'])
          )
          || (
            request.resource.data.collectionCount is int
            && request.resource.data.collectionCount >= 0
            && request.resource.data.collectionCount <= 23
            && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['collectionCount', 'updatedAt'])
          )
          || (
            request.resource.data.points == resource.data.points
            && request.resource.data.displayName is string
            && request.resource.data.displayName.size() >= 2
            && request.resource.data.displayName.size() <= 12
            && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['displayName', 'updatedAt'])
          )
        );
    }

    match /leaderboards/{gameId}/scores/{userId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
